
.container-fluid{
    max-width: auto;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}

.content{
    margin: 3.2rem;
}