.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
}

.logoLink{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 font-size: 4.3rem;
 font-weight: bold;
 text-decoration: none;
 color: var(--primary);
 transition: all 0.12s ease-in-out;
}

.logoLink:hover{
    filter: brightness(60%);
}

.logoLink svg{
    width: 6.4rem;
    height: 6.4rem;
}