.cicloContainer {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pontosCiclos{
    display: flex;
    gap: 0.7rem;
}

.cicloItem {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime {
    background-color: var(--warning);
}

.shortBreakTime {
    background-color: var(--primary);
}

.longBreakTime {
    background-color: var(--info);
}