.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer a{
    color: var(--text-muted);
    text-decoration: none;
    font-size: 1.5rem;
}

.footer a:hover{
    text-decoration: underline;
}