.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24rem;
    padding: .8rem 1.6rem;
    border-radius: 0.8rem;
    margin: 2rem 0;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.button svg {
    width: 2.4rem;
    height: 2.4rem;

}

.button:hover {
    transform: translateY(-2px);
    filter: brightness(80%);
}

.green {
    background-color: var(--primary);
    color: var(--text-over-primary);
}

.red{
    background-color: var(--error);
    color: var(--text-over-error);
}